# dependencies
/node_modules

# production
build

# misc
.DS_Store
npm-debug.log

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Optional eslint cache
.eslintcache